.fa-facebook-official:hover { color: #3b5998; }
.fa-twitter:hover           { color: #4099ff; }
.fa-youtube-play:hover      { color: #bb0000; }

body {
    font-family: 'Titillium Web', sans-serif;
}

.site-wrapper {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mastfoot li {
    float: left;
    display: inline-block;
}

.mastfoot .nav {
    text-align: center;
}

.mastfoot .nav span {
    padding: 0 10px;
}

.no-margin {
    margin: 0 auto;
}

.spacer {
    height: 50px;
}

.album-art {
    margin-bottom: 10px;
}

.navbar.navbar-inverse {
    background-color: inherit;
    border-bottom: none;

}

.navbar-header {
    height: 70px;
}

@media (min-width: 768px) {
    .icon_label {
        display: none;
    }

    nav.navbar {
        margin: 0 auto;
    }

    ul.nav {
        float: right;
    }
}