body {
    background: #222;
    margin: 0;
    padding: 0;
    font-family: 'sans serif';
}

.header .fa {
    font-size: 20px;
}

.header .fa-facebook-official:hover { color: #3b5998; }
.header .fa-twitter:hover { color: #4099ff; }
.header .fa-youtube-play:hover { color: #bb0000; }

.header {
    height: 40px;
    width: 100%;
    top: 0;
    position: absolute;
    background: #111;
    color: #eee;
    overflow: hidden;
}

.header .links {
    display: inline;
}

.header .links ul {
    margin: 0;
    float: right;
}

.header .links li {
    float: left;
    list-style: none;
    padding: 10px;
}

.header .links a {
    color: #666;
    text-decoration: none;
}

.header .title {
    font-size: 1.3em;
    position: relative;
    top: 10px;
    height: 0;
    margin: 0;
    right: 45%;
    left: 45%;
}

.header .title a {
    color: #eee;
    text-decoration: none;
}
body .height-offset {
    height: 40px;
}

body .content {
    color: #fff;
}

body .capa {
    margin: 20px;
    text-align: center;
}
