<!DOCTYPE html>
<html>
<head>
    <link href='static/style.css' rel='stylesheet'>
    <title>Home</title>
</head>
<body>

<div class="header">
    <h1 class="title">
        Club Silencio
    </h1>

    <div class="links">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Bio</a></li>
            <li><a href="">Discography</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
</div>
<div class="height-offset"></div>

<div class="content">
    <div class="capa">
        <img src="/static/capa.png">
    </div>
</div>

</body>
</html>
