{% extends "base.html" %}

{% block title %}music{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='player.css') }}">
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="small-player">

            <div id="small-player-middle-meta">
                <div id="now-playing-title" amplitude-song-info="name"></div>
                <div class="album-information"><span amplitude-song-info="album"></span></div>
            </div>

            <div id="small-player-middle-controls">
                <div class="amplitude-prev  controls"><i class="fa fa-backward"></i></div>
                <div class="amplitude-play-pause amplitude-paused  controls" amplitude-main-play-pause="true"><i class="fa"></i></div>
                <div class="amplitude-next  controls"><i class="fa fa-forward"></i></div>
            </div>

            <div class="scrubber-bar">
                <div id="current-time" class="time"><span class="amplitude-current-minutes" amplitude-single-current-minutes="true">0</span>:<span class="amplitude-current-seconds" amplitude-single-current-seconds="true">00</span></div>
                <div class="amplitude-song-time-visualization" amplitude-single-song-time-visualization="true" id="song-time-visualization"> </div>
                <div id="duration-time" class="time">-<span class="amplitude-duration-minutes" amplitude-single-duration-minutes="true">0</span>:<span class="amplitude-duration-seconds" amplitude-single-duration-seconds="true">00</span></div>
            </div>

        </div>
    </div>
</div>

<div class="row m-t-1">
    <div class="col-md-4">
        <img class="img-responsive album-art" alt="dead beats" src="{{ url_for('static', filename='dead_beats.jpg') }}">
        <small><a href="#">download</a></small>
    </div>
    <div class="col-md-8">
        <table class="table table-responsive">
        <thead>
            <tr><td><strong>Dead Beats</strong> (2016)</td></tr>
        </thead>
        <tbody>
            <tr>
                <td>Runaway</td>
                <td><div class="amplitude-play-pause amplitude-paused" amplitude-song-index="0"><i class="fa"></i></div></td>
            </tr>
            <tr>
                <td>Eulogy</td>
                <td><div class="amplitude-play-pause amplitude-paused" amplitude-song-index="1"><i class="fa"></i></div></td>
            </tr>
            <tr>
                <td>The Lonely Street</td>
                <td><div class="amplitude-play-pause amplitude-paused" amplitude-song-index="2"><i class="fa"></i></div></td>
            </tr>
            <tr>
                <td>Believe</td>
                <td><div class="amplitude-play-pause amplitude-paused" amplitude-song-index="3"><i class="fa"></i></div></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='silencio_ep.png') }}" alt="club silencio" class="img-responsive album-art">
        <small><a href="{{ url_for('static', filename='downloads/club-silencio_silencio-ep.zip') }}">download</a></small>
    </div>

    <div class="col-md-8">
        <table class="table table-responsive">
            <thead><tr><td><strong>Silencio EP</strong> (2008)</td></tr></thead>
            <tbody>
                <tr>
                    <td>Untitled</td>
                    <td><div class="amplitude-play-pause amplitude-paused" amplitude-song-index="4"><i class="fa"></i></div></td>
                </tr>
                <tr>
                    <td>Wouldn't It Be Nice?</td>
                    <td><div class="amplitude-play-pause amplitude-paused" amplitude-song-index="5"><i class="fa"></i></div></td>
                </tr>
                <tr>
                    <td>Like In A Silent Film</td>
                    <td><div class="amplitude-play-pause amplitude-paused" amplitude-song-index="6"><i class="fa"></i></div></td>
                </tr>
                <tr>
                    <td>Puking Butterflies</td>
                    <td><div class="amplitude-play-pause amplitude-paused" amplitude-song-index="7"><i class="fa"></i></div></td>
                </tr>
                <tr>
                    <td>Reminder</td>
                    <td><div class="amplitude-play-pause amplitude-paused" amplitude-song-index="8"><i class="fa"></i></div></td>
                </tr>
                <tr>
                    <td>Fail, Retry</td>
                    <td><div class="amplitude-play-pause amplitude-paused" amplitude-song-index="9"><i class="fa"></i></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
    <script type="text/javascript">
        var STATIC_URL = "{{ STATIC_URL }}";
    </script>

    <script src="{{ url_for('static', filename='amplitudejs/js/amplitude.min.js') }}"></script>
    <script src="{{ url_for('static', filename='player.js') }}"></script>
{% endblock %}
