{% extends "base.html" %}

{% block head %}

{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-4">
        <img class="img-responsive" alt="dead beats" src="static/dead_beats.png">
        <ul class="list-inline">
            <li><i class="fa fa-play"></i></li>
            <li><i class="fa fa-fast-backward"></i></li>
            <li><i class="fa fa-fast-forward"></i></li>
            <li><i class="fa fa-stop"></i></li>
        </ul>
    </div>
    <div class="col-md-8">
        <table class="table table-responsive">
        <thead>
            <tr><td colspan="3">dead beats - 2016</td></tr>
        </thead>
        <tbody>
            <tr>
                <td>eulogy</td>
                <td><i class="fa fa-play"></i></td>
                <td><a href="static/dead_beats/eulogy.mp3"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>runaway</td>
                <td><i class="fa fa-play"></i></td>
                <td><a href="static/dead_beats/runaway.mp3"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>the lonely street</td>
                <td><i class="fa fa-play"></i></td>
                <td><a href="static/dead_beats/the_lonely_street.mp3"><i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>believe</td>
                <td><i class="fa fa-play"></i></td>
                <td><a href="static/dead_beats/believe.mp3"><i class="fa fa-download"></i></a></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<div class="row padding-large-vertical">
    <div class="col-md-4">
        <img src="static/club_silencio.png" alt="club silencio" class="img-responsive">
        <ul class="list-inline">
            <li><i class="fa fa-play"></i></li>
            <li><i class="fa fa-fast-backward"></i></li>
            <li><i class="fa fa-fast-forward"></i></li>
            <li><i class="fa fa-stop"></i></li>
        </ul>
    </div>

    <div class="col-md-8">
        <table class="table table-responsive">
            <thead><tr><td colspan="3">club silencio - 2008</td></tr></thead>
            <tbody>
                <tr>
                    <td>untitled</td>
                    <td><i class="fa fa-play"></i></td>
                    <td><a href="static/dead_beats/runaway.mp3"><i class="fa fa-download"></i></a></td>
                </tr>
                    <td>wouldn't it be nice?</td>
                    <td><i class="fa fa-play"></i></td>
                    <td><a href="static/dead_beats/runaway.mp3"><i class="fa fa-download"></i></a></td>
                </tr>
                    <td>like in a silent film</td>
                    <td><i class="fa fa-play"></i></td>
                    <td><a href="static/dead_beats/runaway.mp3"><i class="fa fa-download"></i></a></td>
                </tr>
                    <td>puking butterflies</td>
                    <td><i class="fa fa-play"></i></td>
                    <td><a href="static/dead_beats/runaway.mp3"><i class="fa fa-download"></i></a></td>
                </tr>
                    <td>reminder</td>
                    <td><i class="fa fa-play"></i></td>
                    <td><a href="static/dead_beats/runaway.mp3"><i class="fa fa-download"></i></a></td>
                </tr>
                    <td>fail, retry</td>
                    <td><i class="fa fa-play"></i></td>
                    <td><a href="static/dead_beats/runaway.mp3"><i class="fa fa-download"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
